<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/web-icons-22/32/recipe-512.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Recipe App</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <img src="http://clipart-library.com/images_k/chef-hat-transparent-png/chef-hat-transparent-png-1.png" alt="hat">
            <h1>Recipe App</h1>
        </div>
        <div class="wrapper">
            <div class="search-input">
                <input type="text" name="search-input" required class="search-recipe">
                <div class="underline"></div>
            <label>
                <i class="fa fa-search search-icon"></i>Search</label>
            </div>
        </div>
        <div class="content"></div>
        <div class="button">
            <button class="add-button">Add recipe</button>
        </div>
    </div>
</body>
</html>